
    body {
        font-family: 'Trebuchet MS', sans-serif;
        background-color: #1f1f1f;
        text-align: center;
        font-size: 20px;
        color:white;
    }

    section {
        border: 2px solid grey;
        width: auto;
        float: center;
        margin-top: 92px;
        overflow: auto;
    }

    .main-page {
        border: 3px solid black;
        background-image: linear-gradient(to bottom right, dimGrey, black);
        float: left;
        width: 45%;
        margin: auto;
        padding: 1%;
        min-height: 128px;
        color: white;
        font-size: bold;
        text-decoration: none;
    }

    .main-page:hover {
        background-image: linear-gradient(to bottom right, #808080, #1f1f1f);
        font-size: 110%;
    }

    .report-page {
        border: 3px solid black;
        float: left;
        width: 70%;
        padding: 1%;
        min-height: 64px;
        color: white;
        text-decoration: none;
    }

    .report-page:hover {
        background-color:#505050;
    }

    .menu {
        background-image: linear-gradient(#808080, #1f1f1f);
        overflow: auto;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .menu button {
        cursor:pointer;
    }

    nav header {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: black;
    }

    .menu a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 14px;
        color: white;
    }

    .menu a:hover {
        background-color: dimGrey;
        font-size: 16px;
    }

    button {
        font-weight: bold;
        background-color: #fffed4;
        height: 30px;
        width: 75px;
    }

    input {
        height: 22px;
        font-size: 18px;
    }

    select {
        height: 22px;
        width: 128px;
        font-size: 18px;
    }

    .center {
      border: 1px solid dimGrey;
      margin: auto;
      padding: 1%;
      min-height: 75px;
      width: 30%;
      min-width: 416px;
      text-decoration: none;
      color: white;
      float: left;
    }

    .center_list {
      border: 1px solid dimGrey;
      margin: auto;
      padding: 1%;
      min-height: 75px;
      width: 30%;
      min-width: 416px;
      height: 128px;
      overflow: auto;
      text-decoration: none;
      color: white;
      float: left;
    }

    .edit2 {
      margin: auto;
      min-height: 149px;
      width: 45%;
      min-width: 352px;
      border: 2px solid grey;
      padding: 1%;
      float: left;
      overflow: auto;
    }

    .table {
        display: table;
        border-collapse: collapse;
        border: 1px solid dimGrey;
        font-family: sans-serif;
        width: 100%;
    }

    .thead {
        display: table-header-group;
    }

    .tbody {
        display: table-row-group;
    }

    .td, .th {
        border: 1px solid dimGrey;
        display: table-cell;
        padding: 5px 10px;
        text-align: center;
        color: white;
    }

    .tr {
        display: table-row;
    }

    .tr-closed {
        display: table-row;
        background-color: #002d73;
        border: 1px solid dimGrey;
        text-decoration: none;
        color: white;
    }

    .tr-paid {
        display: table-row;
        background-color: #075700;
        border: 1px solid dimGrey;
        text-decoration: none;
        color: white;
    }

    .tr-closed:hover {
        background: #606d82;
        cursor: pointer;
    }

    .tr-paid:hover {
        background: #608263;
        cursor: pointer;
    }

    a.tr {
        border: 1px solid dimGrey;
        text-decoration: none;
        color: white;
    }

    a.tr:hover {
        background: dimGrey;
        cursor: pointer;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #1f1f1f;
    }

    ::-webkit-scrollbar-thumb {
      background: #555;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: dimGrey;
    }

    .big-button {
        float: left;
        font-size: 20px;
        min-height: 110px;
        width: 100px;
    }

    .medium-button {
        font-size: 20px;
        font-weight: bold;
        min-height: 32px;
        width: auto;
        cursor:pointer;
    }


    .work input {
        background-color: #1f1f1f;
        color: white;
    }

    .work input[type=submit] {
        background-color:  #fffed4;
        color: black;
    }

    .work {
        padding: 1%;
        margin: auto;
        display: linear;
        border: 2px solid dimGrey;
        width: 65%;
        height: auto;
        min-height: 32px;
        float: center;
    }

    .work:hover {
        border-color: grey;
    }

    dialog {
        padding: 0;
        border: 0;
        border-radius: 0.6rem;
        box-shadow: 0 0 1em black;
    }

    dialog::backdrop {
        background-color: rgba(0, 0, 0, 0.4);
    }

    .low-menu {
        background-image: linear-gradient(#808080, #1f1f1f);
        overflow: auto;
        position: bottom;
        top: 0;
        width: 100%;
        height: auto;
    }

    .low-menu a {
        float: right;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 14px;
        color: white;
    }

    .low-menu a:hover {
        background-color: dimGrey;
        border: 1px solid black;
    }

    .low-menu a button {
        height: 52px;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
    }

    .low-menu div {
        float: right;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 14px;
        color: white;
    }

    .low-button {
        height: 52px;
        width: 100%;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        background-color: #fffed4;
    }