<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>dental-api</display-name>

  <filter>
    <filter-name>filterService</filter-name>
    <filter-class>edu.dental.security.FilterService</filter-class>
  </filter>

  <listener>
    <listener-class>edu.dental.service.ApplicationBoot</listener-class>
  </listener>

  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>edu.dental.servlets.authentication.RegistrationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>edu.dental.servlets.authentication.AuthorizationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>account</servlet-name>
    <servlet-class>edu.dental.servlets.user.AccountServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dentalWorks</servlet-name>
    <servlet-class>edu.dental.servlets.dental_works.DentalWorkListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>dentalWork</servlet-name>
    <servlet-class>edu.dental.servlets.dental_works.DentalWorkServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>productMap</servlet-name>
    <servlet-class>edu.dental.servlets.product_map.ProductMapServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>workSort</servlet-name>
    <servlet-class>edu.dental.servlets.dental_works.WorkRecordSortServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>reportDownload</servlet-name>
    <servlet-class>edu.dental.servlets.reports.ReportDownloader</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>searchRecords</servlet-name>
    <servlet-class>edu.dental.servlets.dental_works.WorkRecordSearchServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>profitCount</servlet-name>
    <servlet-class>edu.dental.servlets.reports.ProfitCountServlet</servlet-class>
  </servlet>

</web-app>
