<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>dental-mechanic</display-name>

  <filter>
    <filter-name>mainFilter</filter-name>
    <filter-class>edu.dental.servlets.filters.MainFilter</filter-class>
  </filter>

  <filter>
    <filter-name>enterFilter</filter-name>
    <filter-class>edu.dental.servlets.filters.EnterFilter</filter-class>
  </filter>

  <listener>
    <listener-class>edu.dental.service.AppConfiguration</listener-class>
  </listener>

  <servlet>
    <servlet-name>signUp</servlet-name>
    <jsp-file>/pages/signUp.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>logInPage</servlet-name>
    <jsp-file>/pages/index.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>edu.dental.servlets.account.Authorization</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>edu.dental.servlets.account.Registration</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Main</servlet-name>
    <jsp-file>/pages/main/main.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>workListServlet</servlet-name>
    <servlet-class>edu.dental.servlets.works.DentalWorksList</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>workListPage</servlet-name>
    <jsp-file>/pages/works/workList.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>dentalWork</servlet-name>
    <servlet-class>edu.dental.servlets.works.DentalWorkServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>viewWork</servlet-name>
    <jsp-file>/pages/works/viewDentalWork.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>sorting</servlet-name>
    <servlet-class>edu.dental.servlets.works.DentalWorkListSorting</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>newWork</servlet-name>
    <jsp-file>/pages/works/newWorkRecord.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>productMap</servlet-name>
    <servlet-class>edu.dental.servlets.products.ProductServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>viewProductMap</servlet-name>
    <jsp-file>/pages/products/productMapPage.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>profitPage</servlet-name>
    <jsp-file>/pages/profits/profitList.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>profitCount</servlet-name>
    <servlet-class>edu.dental.servlets.reports.ProfitCounter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>saveFile</servlet-name>
    <servlet-class>edu.dental.servlets.reports.ReportDownloader</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>searchRecords</servlet-name>
    <servlet-class>edu.dental.servlets.works.DentalWorkRecordSearch</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>accountServlet</servlet-name>
    <servlet-class>edu.dental.servlets.account.AccountServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>accountPage</servlet-name>
    <jsp-file>/pages/main/account.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>logOut</servlet-name>
    <servlet-class>edu.dental.servlets.account.LogOut</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>errorPage</servlet-name>
    <jsp-file>/pages/errorPage.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>logInPage</servlet-name>
    <url-pattern>/sign-in</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>workListPage</servlet-name>
    <url-pattern>/main/dental-works/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>viewWork</servlet-name>
    <url-pattern>/main/dental-work/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>newWork</servlet-name>
    <url-pattern>/main/new-work</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>viewProductMap</servlet-name>
    <url-pattern>/main/product-map/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>profitPage</servlet-name>
    <url-pattern>/main/profit/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>accountPage</servlet-name>
    <url-pattern>/main/account/page</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>errorPage</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/pages/index.html</welcome-file>
  </welcome-file-list>

  <error-page>
    <exception-type>Exception</exception-type>
    <location>/pages/exceptionPage.html</location>
  </error-page>

  <error-page>
    <error-code>404</error-code>
    <location>/pages/error404.html</location>
  </error-page>

</web-app>
