<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>dental-mechanic</display-name>

<!--  <listener>-->
<!--    <listener-class>edu.dental.web.servlets.ContextInitializer</listener-class>-->
<!--  </listener>-->

  <filter>
    <filter-name>MyFilter</filter-name>
    <filter-class>edu.dental.web.servlets.basic.MyFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/my-filter</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Enter</servlet-name>
    <servlet-class>edu.dental.web.servlets.basic.Enter</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>UserLogIn</servlet-name>
    <servlet-class>edu.dental.web.servlets.basic.UserLogIn</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>newProduct</servlet-name>
    <jsp-file>/newProduct.html</jsp-file>
  </servlet>


  <servlet>
    <servlet-name>welcome</servlet-name>
    <jsp-file>/welcome.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>ProductTypePage</servlet-name>
    <servlet-class>edu.dental.web.servlets.products.ProductMapTable</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>WorkTablePage</servlet-name>
    <servlet-class>edu.dental.web.servlets.works.WorkTablePage</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/signUp.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>NewUserSaving</servlet-name>
    <servlet-class>edu.dental.web.servlets.basic.NewUserSaver</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DentalWorkSaver</servlet-name>
    <servlet-class>edu.dental.web.servlets.works.DentalWorkSaver</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductSaver</servlet-name>
    <servlet-class>edu.dental.web.servlets.products.ProductSaver</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>newRecord</servlet-name>
    <jsp-file>/newRecord.html</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>DentalWorkEditor</servlet-name>
    <servlet-class>edu.dental.web.servlets.works.DentalWorkEditor</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Enter</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserLogIn</servlet-name>
    <url-pattern>/log-in</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>newRecord</servlet-name>
    <url-pattern>/new-work</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>newProduct</servlet-name>
    <url-pattern>/new-product</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductSaver</servlet-name>
    <url-pattern>/save-product</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Enter</servlet-name>
    <url-pattern>/enter</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductTypePage</servlet-name>
    <url-pattern>/product-map</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>WorkTablePage</servlet-name>
    <url-pattern>/work-list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>NewUserSaving</servlet-name>
    <url-pattern>/new-user</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DentalWorkSaver</servlet-name>
    <url-pattern>/save-work</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DentalWorkEditor</servlet-name>
    <url-pattern>/edit-work</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>

</web-app>
