<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>dental-mechanic</display-name>

  <filter>
    <filter-name>mainFilter</filter-name>
    <filter-class>edu.dental.web.servlets.control.MainFilter</filter-class>
  </filter>

  <filter>
    <filter-name>enterFilter</filter-name>
    <filter-class>edu.dental.web.servlets.control.EnterFilter</filter-class>
  </filter>

  <listener>
    <listener-class>edu.dental.web.ContextInitializer</listener-class>
  </listener>

  <servlet>
    <servlet-name>signUp</servlet-name>
    <jsp-file>/jsp/signUp.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>logIn</servlet-name>
    <servlet-class>edu.dental.web.servlets.control.Authorization</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>edu.dental.web.servlets.control.Registration</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Main</servlet-name>
    <jsp-file>/jsp/main.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>workList</servlet-name>
    <jsp-file>/jsp/workList.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>newWork</servlet-name>
    <jsp-file>/jsp/newWorkRecord.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>saveWork</servlet-name>
    <servlet-class>edu.dental.web.servlets.main.WorkStoring</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/sign-up</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>workList</servlet-name>
    <url-pattern>/main/work-list</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>newWork</servlet-name>
    <url-pattern>/main/new-work</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/jsp/error.html</location>
  </error-page>
</web-app>
